<h2 style="text-align: center; margin: 25px auto;">Search Books</h2>
<form class="search-books" action="/books" method="GET">
    <div>
        <div class="input-group-prepend">
            <label class="input-group-text" id="basic-addon1" for="">TItle</label>
        </div>
        <input class="form-control" type="text" name="title" value="<%= searchOptions.title %> ">
    </div>
    <div>
        <label class="input-group-text" id="basic-addon1" for="">Publish After</label>
        <input class="form-control" type="date" name="publishAfter" value="<%= searchOptions.publishAfter %> ">
    </div>
    <div>
        <label class="input-group-text" id="basic-addon1" for="">Publish Before</label>
        <input class="form-control" type="date" name="publishBefore" value="<%= searchOptions.publishBefore %> ">
    </div>
    <div>
        <button class="btn btn-dark" type="submit">Search</button>
    </div>
</form>
<div>
    <% books.forEach(book => { %>
    <a href="/books/<%= book.id %> "><img height="150" width="100" src="<%= book.coverImagePath %> " alt="">
    </a>
    <% }) %>
</div>