<div class="search-bar">
    <form action="/books" method="GET">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control search-home-page" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-lg" style="font-family:Arial, FontAwesome" type="text" name="title"
                value="<%= searchOptions.title %>" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome">
        </div>
    </form>
</div>
<h2>Recently Added</h2>
<div class="recent-added-img">

    <% books.forEach(book => { %>
    <div class="book">
        <a href="/books/<%= book.id %> "><img src="<%= book.coverImagePath %>"></a>
        <div class="book-title"><%= book.title %> </div>
        <div class="book-author"> <a href="authors/<%= book.author.id %>"><%= book.author.name%> </a> </div>
    </div>
    <% }) %>

</div>