<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label for="">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %> ">
    <button type="submit">Search</button>
</form>
<br>
<div class="author-container">
    <% authors.forEach(author => { %>
    <div class="author">
        <img src="<%= author.authorImagePath %>" alt="<%= author.name %> ">
        <div><%= author.name %></div>
        <a href="/authors/<%= author.id %> ">View</a>
        <a href="/authors/<%= author.id %>/edit ">Edit</a>
        <%- include('../partials/deleteForm', { url: `/authors/${author.id}`} ) %>
    </div>
    <% }) %>

</div>